{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Available Services</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Time Required (minutes)</th>
                <th>Professional ID </th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>

                <td>{{ service.name }}</td>
                <td>${{ service.price }}</td>
                <td>{{ service.time_required }}</td>
                <td>{{ service.professional_id }}</td>
                <td>{{ service.description }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}